* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;

}



main{
    width: 100%;
    min-height: auto;
}

nav {
	background:#6A0DAD;
	color: white;
	z-index: 1000;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	transition: 0.4s;
	z-index: 1001;
}

nav:after {
	content: "";
	clear: both;
	display: table;
}
nav .logo {
	float: left;
	width: 170px;
	height: 78px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin:0;
	padding-left: 10px;
}

nav ul {
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

nav ul li {
	float:left;
	display: inline-block;
	background: #6A0DAD;
	border-radius: 5px;
	color: white;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-size: 18px;
	padding: 8px 15px;
}

nav ul li a:hover {
	color: #CCCCCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #f2f2f2;
	box-shadow: 0 0 5px #ededed;
}

nav ul ul li a:hover {
	color: #f7c7fc;
	box-shadow: none;
}

nav ul ul {
	position: absolute;
	top: 90px;
	border-top: 3px solid #e48de1;
	background: transparent !important;
	opacity: 0;
	visibility: hidden;
	transition: top 0.3s;
	z-index: 1001;
}

/* --------User Avatar---------- */
nav ul ul.u_avatar {
	position: absolute;
	top: 90px;
	border-top: 3px solid #e48de1;
	opacity: 0;
	visibility: hidden;
	transition: top 0.3s;
	z-index: 1001;
	right:-20px !important;
}

nav .profile_avatar{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(182, 45, 246) !important;  /* set the background color of the avatar */
    color: #FFFFFF; /* set the text color of the avatar */
    font-size: 24px; /* set the font size of the initials */
    line-height: 40px; /* set the line height to center the initials vertically */
    text-align: center; /* center the initials horizontally */
  }

nav ul ul ul {
	border-top: none;
}

nav ul li:hover > ul {
	top: 60px;
	opacity: 1;
	visibility: visible;
}

nav ul li:active > .ul {
	top: 60px;
	opacity: 1;
	visibility: visible;
}

nav ul ul li {
	position: relative;
	margin: 0px;
	width: 190px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
	line-height: 35px;
	font-size: 16px;
}

nav ul ul ul li {
	position: relative;
	top: -70px;
	left: 190px;
	width: 180px;
}

.fa-plus {
	margin-left: 70px;
	font-size: 25px;
}

.shows,
.icon,
input[type="checkbox"] {
	display: none;
}
.itemhidden {
	display: none;
}

@media screen and (max-width: 968px) {
	nav ul {
		margin-right: 0px;
		float: left;
	}
	nav .logo {
		padding-left: 10px;
		/* width: 100%; */
	}
	nav ul li,
	nav ul ul li {
		display: block;
		width: 100%;
	}
	nav ul ul {
		top: 70px;
		position: static;
		border-top: none;
		float: none;
		display: none;
		opacity: 1;
		visibility: visible;
	}

	nav ul ul.u_avatar {
		top: 70px;
		position: static;
		border-top: none;
		float: none;
		display: none;
		opacity: 1;
		visibility: visible;
	}


	nav ul ul ul li {
		position: static;
	}


	nav ul ul li {
		border-bottom: 40px;
	}

	nav ul ul a {
		padding-left: 80px;
	}



	nav ul ul ul a {
		padding-left: 40px;
	}

	.shows {
		display: block;
		color: white;
		font-size: 18px;
		padding: 0 20px;
		line-height: 70px;
		cursor: pointer;
	}
	nav ul li a:hover {
		box-shadow: none;
	}

	.shows + a,
	ul {
		display: none;
	}

	[id^="btn"]:checked + ul {
		display: block;
	}

	.shows:hover {
		color: cyan;
	}
	.icon {
		display: block;
		color: white;
		position: absolute;
		right: 40px;
		line-height: 70px;
		font-size: 25px;
		cursor: pointer;
	}
	.itemhidden {
		display: list-item;
	}
}

.navheight{
    margin-top: 115px;
}
/* ----------------------------------------------------------------Navigation End------------------------------------------------------ */



/* ------------------------------------------------------------------footer------------------------------------- */

footer {
    background-color: #6A0DAD;
    margin-top: 0;
    color: white;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin-bottom: 30px;
}
.follow-us:hover {
    color: white;
}


.section-text {
    font-size: 16px;
    line-height: 1.6;
}


.contact-details p {
    font-size: 16px;
    margin: 8px 0;
}


.right-image img {
    width: 100%;
    height: auto;
}

.footer-copyright {
    text-align: center;
    border-top: 1px solid #ff6f61; /* Rose Gold */
    padding-top: 20px;
    margin-top: 20px;
}


.footer-content {
    max-width: 300px;
}

.footerlogo {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 10px;
}



.three_clo ul li a {
    color: white;
    text-decoration: none;
}

.three_clo ul li a:hover {
    color: red;
}

.contact .contact-items p {
    margin: 16px 0;
    font-size: 16px;
    margin-top: 4px;
    font-family: "Roboto Condensed", sans-serif;
}

.contact i {
    color: #B76E79;
    padding-right: 20px;

}

.number {
    color: #B76E79;
}

.number a {
    color: #B76E79;
}
.social-icon i {
    margin-top: 0.5em;
    margin: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    border: 1px solid #B76E79;
    font-size: 16px;
    color: #B76E79;
    cursor: pointer;
}

.social-icon i:hover {
    color: white;
    border: 1px solid white;
}

#footer {
    background-color: #6A0DAD;
    color: white;
    padding: 12px;
    width: 100%;
    text-align: center;
	border-top: 1px solid #FFDB58;
}
#footer p {
    margin: 0;
	text-align: justify;

}
.copyright {
    text-align: center;
}



/*---------------------------------------- buttons----------------------------------- */
.more-bttns, .more-larges {
    border: 2px solid #9012f1; /* Border color */
    background-color: #9012f1;
    color: #fff;
}

.more-bttns:hover, .more-larges:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: #333;
}


.more-bttns {
    display: inline-block;
    margin-top: 10px;
	margin-bottom: 10px;
    padding: 10px 20px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #9012f1;
    color: #fff;
    transition: background 0.3s, color 0.3s;
}


.more-bttn,.more-large {
    font-family: "Roboto Condensed", sans-serif; /* Apply font */
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
	border: 2px solid #9012f1;
	font-size: 16px;

}
.more-bttn {
    display: inline-block;
    margin-top: 10px;
	margin-bottom: 10px;
    padding: 10px 20px;
	border: none;
	font-weight: bold;
	background: #fff;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: background 0.3s, color 0.3s;
	margin-top: 10px;
}

.more-bttn:hover,
.more-large:hover {
    color:#D4AF37 ;
	background: #6f3b97;
    text-decoration: none;
}

.more-large {
	padding: 10px 40px;
	font-weight: 600;
	background: #9012f1;
	letter-spacing: 2px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	margin-top: 100px;
}





/*---------------------------------------- buttons end----------------------------------- */
